# Core Dependencies
pyrofork==2.3.45
python-telegram-bot
umongo==3.0.1
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
psutil==5.9.4
requests
git+https://github.com/Joelkb/cinemagoer
bs4
datetime
pytz
aiohttp
shortzy

# IMDb
PyLeaves==1.0.2
cinemagoer
shortzy==0.0.8
aiofiles
pyromod==1.5

# Extra
telegraph
openai

# Other Utilities
jinja2
apscheduler
pyshorteners
colorama
fuzzywuzzy
python-Levenshtein
googletrans==4.0.0-rc1
